{{>admin/header}}
<div class="admin-title">공간관리</div>
<section class="admin-list">
	<div class="admin-space">
		<div class="admin-sub-title">공간</div>
		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>번호</th>
					<th>공간명</th>
					<th>공간ID</th>
					<th>세부공간수</th>
					<th>갤러리수</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div class="admin-buttons">
			<button more="admin-space-add" class="btn-admin-add btn btn-success">공간 추가</button>
		</div>
	</div>
	<div class="admin-space-desc">
		<div class="admin-sub-title">세부공간</div>
		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>번호</th>
					<th>세부공간명</th>
					<th>세부공간ID</th>
					<th>공간명</th>
					<th>갤러리수</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div class="admin-buttons">
			<button more="admin-space-desc-add" class="btn-admin-add btn btn-success">세부공간 추가</button>
		</div>
	</div>
</section>
<section class ="admin-add admin-space-add">
	<div class="form-group">
    	<label for="add-space_name">공간명</label>
    	<input type="text" class="form-control" id="add-space_name" placeholder="공간명">
	</div>
	<div class="admin-buttons">
		<button class="btn-admin-save btn btn-success">저장</button>
		<button class="btn-admin-cancel btn btn-default">취소</button>
	</div>
</section>
<section class ="admin-add admin-space-desc-add">
	<div class="form-group">
    	<label for="add-space_name">세부공간명</label>
    	<input type="text" class="form-control" id="add-space-desc_name" placeholder="세부공간명">
  		<div class="dropdown">
		  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <div name="btn-txt-space">공간선택</div>
		    <span class="caret"></span>
		  </button>
		  <ul name="add-space" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		  </ul>
		</div>
	</div>
	<div class="admin-buttons">
		<button class="btn-admin-save btn btn-success">저장</button>
		<button class="btn-admin-cancel btn btn-default">취소</button>
	</div>
</section>
<section class ="admin-update admin-space-update">
	<div class="form-group">
    	<label for="upt-space_id">공간ID</label>
    	<input type="text" class="form-control" id="upt-space_id" disabled>
	</div>
	<div class="form-group">
    	<label for="upt-space_name">공간명</label>
    	<input type="text" class="form-control" id="upt-space_name">
	</div>
	<div class="admin-buttons">
	  <button class="btn-admin-update btn btn-success">수정</button>
      <button class="btn-admin-delete btn btn-danger">삭제</button>
      <button class="btn-admin-cancel btn btn-default">취소</button>
	</div>
</section>
<section class ="admin-update admin-space-desc-update">
	<div class="form-group">
    	<label for="upt-space_desc_id">세부공간ID</label>
    	<input type="text" class="form-control" id="upt-space_desc_id" disabled>
	</div>
	<div class="form-group">
    	<label for="upt-space_desc_name">세부공간명</label>
    	<input type="text" class="form-control" id="upt-space_desc_name">
	</div>
	<div class="dropdown">
	  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <div name="btn-txt-space">공간선택</div>
	    <span class="caret"></span>
	  </button>
	  <ul name="add-space" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	  </ul>
	</div>
	<div class="admin-buttons">
	  <button class="btn-admin-update btn btn-success">수정</button>
      <button class="btn-admin-delete btn btn-danger">삭제</button>
      <button class="btn-admin-cancel btn btn-default">취소</button>
	</div>
</section>

{{>admin/footer}}